<body>
    <div class="content clearfix">
      <div class="top_content">
          <%= image_tag "TOP.png", class: "image_area" %>
          <section class="preamble">
            <h2>soliloquence -独り言- </h2>
            <p>
              PHASE2大課題の作品です。<br>
          京都は嵐山の「天龍寺」の庭園を見て思わず出てくる独り言を投稿するアプリです。
        </p>
              <p>
                soliloquenceは独り言という意味です。<br>
          つぶやく事とはまた違う無意識に出てくる独り言を振り返れればいいなと思いましたが、今の機能ではつぶやきと変わらないですね。。
        </p>
          </section>
        </div>
    </div>
</body>